{% load static %}
<html>
<head>
  <title>Face Recognition system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
     @font-face {
  font-family: acme;
  src: url('static/font/Acme-Regular.ttf');
}
body
{
font-family:acme;
background:url('static/img/slider1.jpg');
    }
      .navbar-dark .navbar-nav .nav-link
  {
  color:white;
  }
 bg-dark
 {
 width:500px;
 }
 section
 {
 padding-top:50px;
 }
 .bgdark
 {
 border-radius:50px;

    border-radius: 50px;
        background: linear-gradient(356deg, black, transparent);
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: linear-gradient(217deg, #212529, transparent) !important;
}


  </style>
</head>
  <body>
<!--  header-->
<!--navbar-->

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="static/img/logo.jpg" width="55px" height="55px"><span class="ms-4">Face Recognition System </span> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
            <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}"><i class="fa fas fa-duotone fa-house-user"></i><span class="ms-2">HOME</span></a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="{% url 'registration' %}"><i class="fa fas fa-duotone fa-id-card"></i><span class="ms-2">REGISTRATION</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_photos' %}"><i class="fa fas fa-light fa-camera-retro"></i><span class="ms-2">ADD PHOTO</span></a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<!---->
  <section>
      <div class="container">
          <div class="row">

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 col-xl-12">
                          <div class="justify-content-end">
                               <div class="bgdark p-5">
                          <form method="POST" enctype= multipart/form-data>
                                {% csrf_token %}
                              <div class="row pt-2">
                                  <div class="col-lg-3 col-md-3 col-sm-12"><label class="form-label mx-lg-5 text-white">ID</label></div>
                                  <div class="col-lg-9 col-md-9 col-sm-12">{{form.id}}</div>


                              </div>
                                 <div class="row pt-2">
                                           <div class="col-lg-3 col-md-3 col-sm-12"><label class="form-label mx-lg-5 text-white">Name </label></div>
                                           <div class="col-lg-9 col-md-9 col-sm-12"> {{form.name}}</div>
                                 </div>
                              <div class="row pt-2">
                                          <div class="col-lg-3 col-md-3 col-sm-12"><label class="form-label mx-lg-5 text-white">Gender</label></div>
                                          <div class="col-lg-9 col-md-9 col-sm-12">
                                                {{form.gender}}
                                          </div>
                              </div>
                               <div class="row pt-2">
                                          <div class="col-lg-3 col-md-3 col-sm-12"><label class="form-label mx-lg-5 text-white">Photo</label></div>
                                          <div class="col-lg-9 col-md-9 col-sm-12">
                                              {{form.photo}}
                                          </div>
                               </div>
                              <div class="row pt-4">
                                          <div class="col-lg-12 col-md-12 col-sm-12 ">
                                                  <input type="submit" class="btn btn-success float-end" value="Register">
                                          </div>

                                          </div>
                               </div>
                          </div>



                          </form>
                  </div>


              </div>
          </div>
      </div>
  </section>


</body>
</html>